*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
build_log.txt
firebase-debug.log
emulator_*.log
emulator_screen*.png
